/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Import Component Style */
@import url('./task.css');
@import url('./main-content.css');
@import url('./header.css');

:root{
    --main-green: #37CB48;
    --main-gray: #404040;
    --text-grey: #1E1E1E;
    --alert-red: #FF3F33;
    --alert-red-darker: #e7372b;
}
html{
    height: 100%;
}

body{
    background-color: #f1f0f0;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}




